---

---
<section id="about-us" class="flex lg:flex-row flex-col py-14 px-10 lg:px-20">
  <div class="w-full lg:w-1/2 flex flex-col">
    <h3 class="section-caption">Giới thiệu</h3>
    <div class="h-full flex items-center lg:pr-20">
      <span class="text-xs">
        Web3 Angel Capital là một công ty đầu tư dựa trên luận điểm đầu tư vào
        tiền điện tử, mã thông báo và các công ty blockchain, chúng tôi chuyên về
        hỗ trợ các dự án blockchain ngay từ giai đoạn khởi động. chúng tôi
        không chỉ dừng lại ở việc xây dựng nhóm phân tích và nghiên cứu thị trường, chúng tôi
        cũng rất chú trọng đến việc xây dựng đội ngũ phát triển để có thể
        đánh giá các khía cạnh kỹ thuật của dự án rất chi tiết.
      </span>
    </div>
  </div>
  <div class="mt-6 lg:mt-0">
    <img src="/images/about_us.webp" alt="About us">
  </div>
</section>

<script></script>
