<style>
p.text-banner {
  font-family: 'Goldman', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  font-style: italic;
}
@media only screen and (max-width: 600px) {
  p.text-banner {
    font-size: 11px;
    line-height: 16px;
  }
}
</style>

<section id="banner" class="relative cursor-pointer">
  <img src="/images/banner1.webp" width="1440" alt="Banner1">
  <p class="absolute text-white right-[30px] lg:right-[72px] top-[10px] lg:top-24 whitespace-pre-line uppercase text-banner">
    Sứ mệnh của chúng tôi là
    mang đến niềm đam mê
    cho công nghệ
    cùng với nhau
    phồn thịnh
  </p>
</section>

<script></script>
