<style>
p.text-banner {
  font-family: Airstrike;
  font-size: 36px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
}
@media only screen and (max-width: 600px) {
  p.text-banner {
    font-size: 12px;
    line-height: 16px;
  }
}
</style>

<section id="banner" class="relative cursor-pointer">
  <img src="/images/banner1.png" alt="Banner1">
  <p class="absolute text-white right-16 top-[360px] lg:top-28 whitespace-pre-line uppercase text-banner">
    Our mission is to bring 
    the passion 
    for technology 
    together 
    with prosperity
  </p>
</section>

<script></script>
