---

---
<section id="about-us" class="flex lg:flex-row flex-col py-14 px-10 lg:px-20">
  <div class="w-full lg:w-1/2 flex flex-col">
    <h3 class="section-caption">About Us</h3>
    <div class="h-full flex items-center lg:pr-20">
      <span class="text-xs">
        Web3 Angel Capital is a thesis-driven investment firm that invests in
        cryptocurrencies, tokens, and blockchain companies, we specialize in 
        supporting blockchain projects right from the start-up stages. We 
        don't just stop at building a market research and analysis team, we 
        also pay great attention to building a development team to be able to 
        evaluate the technical aspects of the project in great detail.
      </span>
    </div>
  </div>
  <div class="mt-6 lg:mt-0">
    <img src="/images/about_us.webp" width="600" alt="About us" class="rounded-3xl">
  </div>
</section>

<script></script>
