---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import OurTeam from '../components/sections/OurTeam.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Banner from '../components/sections/Banner.astro';
import Partners from '../components/sections/Partners.astro';
import OurStrengths from '../components/sections/OurStrengths.astro';
import '../styles/global.css';

let title = 'Web3 Angel Capital';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

</head>
<body>
	<Header></Header>

	<main>

		<Banner></Banner>

		<AboutUs></AboutUs>

		<OurTeam></OurTeam>

		<OurStrengths></OurStrengths>

		<Partners></Partners>

	</main>

	<Footer></Footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

</body>
</html>
