---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import OurTeam from '../components/OurTeam.astro';
import '../styles/global.css';
import '../styles/home.css';

let title = 'Web3 Angel Capital';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

	<style>
		
	</style>
</head>
<body>
		<Header></Header>

	<main>
		<section id="banner" class="relative cursor-pointer">
			<img src="/images/banner1.png" alt="Banner1">
			<p class="absolute text-white right-16 top-28 whitespace-pre-line text-banner uppercase">
				Our mission is to bring 
				the passion 
				for technology 
				together 
				with prosperity
			</p>
		</section>

		<section id="about-us" class="flex py-10 px-20">
			<div class="w-1/2 flex flex-col">
				<h3 class="font-semibold">About Us</h3>
				<div class="h-full flex items-center pr-20">
					<span class="text-xs">
						Web3 Angel Capital is a thesis-driven investment firm that invests in
						cryptocurrencies, tokens, and blockchain companies, we specialize in 
						supporting blockchain projects right from the start-up stages. We 
						don't just stop at building a market research and analysis team, we 
						also pay great attention to building a development team to be able to 
						evaluate the technical aspects of the project in great detail.
					</span>
				</div>
			</div>
			<div>
				<img src="images/about_us.png" alt="About us">
			</div>
		</section>

		<OurTeam></OurTeam>

		<section id="our-team" class="text-center py-10 px-36">
			<h3 class="font-semibold mb-6">Our strengths</h3>
			<div class="mb-6">
				<img src="/images/our_strengths.png" alt="Our strengths">
			</div>
			<span class="text-xs px-4">
				Our team also has all the competitive advantages in today's toughest financial markets. 
				To evaluate a project with potential or not, not only rely on financial analysis indicators, especially in the blockchain industry,
				we have a team of devs who specialize in technical analysis to accurately determine the value. 
				really the project will create for the community in the future.
			</span>
		</section>
		
		<Footer></Footer>
	</main>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

</body>
</html>
