---
import Header from '../components-vi/Header.astro';
import Footer from '../components-vi/Footer.astro';
import OurTeam from '../components-vi/sections/OurTeam.astro';
import AboutUs from '../components-vi/sections/AboutUs.astro';
import Banner from '../components-vi/sections/Banner.astro';
import Partners from '../components-vi/sections/Partners.astro';
import OurStrengths from '../components-vi/sections/OurStrengths.astro';
import '../styles/global.css';

let title = 'Web3 Angel Capital';

---
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<script type="text/javascript">
		var country = window.localStorage.getItem('country');
		if (country == null) {
			fetch('https://ipinfo.io/?token=26c873e7752096').then(res => res.json()).then(json => {
				if (json.country != 'VN') window.location = '/';
				window.localStorage.setItem('country', json.country);
			})
		}
		else if (country != 'VN') {
			window.location = '/';
		}
	</script>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

</head>
<body>
	<Header></Header>

	<main>

		<Banner></Banner>

		<AboutUs></AboutUs>

		<OurTeam></OurTeam>

		<OurStrengths></OurStrengths>

		<Partners></Partners>

	</main>

	<Footer></Footer>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

</body>
</html>
