---
import Logo from './Logo.astro'
---
<footer class="mb-5 mt-16" id="footer">
  <div class="flex w-full justify-center py-6 border-y-2 border-y-gray-700">
    <div class="ml-3 lg:ml-4">
      <div class="w-[70px] lg:w-[140px]">
        <Logo width={140}></Logo>
      </div>
      <div class="flex gap-4 mt-4">
        <a href="https://twitter.com/" target="_blank"><img width="60" src="/images/twitter.svg" alt="Twitter"></a>
        <a href="https://t.me/mrdang33" target="_blank"><img width="60" src="/images/telegram.svg" alt="Telegram"></a>
        <a href="https://www.facebook.com/" target="_blank"><img width="60" src="/images/facebook.svg" alt="Facebook"></a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center mr-0 lg:mr-4">
      <p class="font-bold text-sm lg:text-base text-gray-800 text-center">Cùng nhau tạo ra giá trị tương lai cho cộng đồng</p>
      <a class="rounded-lg mt-8 border-4 border-gray-700 px-6 lg:px-12 py-1 lg:py-2 text-lg font-bold" href="mailto:contact@w3acapital.com">Liên hệ Email</a>
    </div>
  </div>
  <p class="text-center mt-2 lg:mt-4">© 2022 Web3 Angel Capital. All rights reserved.</p>
</footer>
