---
import Logo from './Logo.astro';
---
<style>
  .active {
    font-weight: 700;
  }
</style>

<header class="flex justify-between items-center py-5 px-0 lg:px-16 border-b-2 border-b-gray-700 mb-2">
  <div class="flex flex-shrink-0 w-[70px] lg:w-[100px] ml-3">
    <Logo width={100} />
  </div>

  <div class="lg:flex hidden flex-grow w-auto justify-center">
    <ul class="flex gap-5" id="menu">
      <li class="cursor-pointer hover:text-gray-400 hover:scale-105"><a href="/#about-us" onclick="change(this)">Giới thiệu</a></li>
      <li class="cursor-pointer hover:text-gray-400 hover:scale-105"><a href="/#our-team" onclick="change(this)">Đội ngũ</a></li>
      <li class="cursor-pointer hover:text-gray-400 hover:scale-105"><a href="/#our-strengths" onclick="change(this)">Sức mạnh</a></li>
      <li class="cursor-pointer hover:text-gray-400 hover:scale-105"><a href="/#partners" onclick="change(this)">Đối tác</a></li>
      <li class="cursor-pointer hover:text-gray-400 hover:scale-105"><a href="/#footer" onclick="change(this)">Liên hệ</a></li>
    </ul>
  </div>

  <a href="/">
    <div class="flex relative flex-shrink-0 mr-6">
        <img src="/images/vi.png" width="30" alt="Lang VI">
      <img src="/images/en.png" width="30" alt="Lang EN" class="absolute left-3.5 -z-10">
    </div>
  </a>
</header>

<script type="text/javascript">
  function change(elm) {
    const list = document.querySelectorAll('#menu>li>a');

    for (let i = 0; i < list.length; ++i) {
      list[i].classList.remove('active');
    }

    elm.classList.add('active');
  }
</script>
