---
export interface Props {
  data?: any,
}
const { data: { name, roles } } = Astro.props;


---
<style>
  ul {
    list-style: disc;
  }
</style>
<div>
  <div class="border-2 rounded-full w-32 h-32 border-black"></div>
  <h4 class="text-xs font-semibold mt-4">{name}</h4>
  <ul class="text-xs px-10 w-fit mx-auto">
    { roles.map(role => <li class="whitespace-pre-line w-fit">{role}</li>) }
  </ul>
</div>

<script></script>
